<div class="text-center my-3">
  &copy;
  <span class="pe-2"><%= Date.today.year %></span>
  <span class="border-end border-dark pe-2"><%= t('footer.copyright') %></span>
  <span class="border-end border-dark px-2"><%= link_to "利用規約", terms_path, class: "text-decoration-none text-body"  %></span>
  <span class="px-2"><%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-decoration-none text-body"  %></span>
</div>