<%= content_for(:title, t('.title')) %>

<div class="page-container">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 p-5 bg-white">
        <h3 class="text-center mb-4"><%= t('.title')%></h3>

        <p class="text-center mb-4">
          本利用規約（以下「本規約」）は、本サービス「駅コンパス」（以下「本サービス」）の利用条件を定めるものです。<br>
          本サービスは、個人が運営するサービスです（以下「運営者」）。
        </p>

        <div class="mb-4">
          <h4>第1条（適用）</h4>
          <p>
            本規約は、ユーザーと運営者との間の本サービス利用に関わる一切の関係に適用されます。
          </p>    
        </div>

        <div class="mb-4">
          <h4>第2条（禁止事項）</h4>
          <p>ユーザーは、以下の行為をしてはなりません。</p>
            <ul>
              <li>法令または公序良俗に違反する行為</li>
              <li>本サービスの運営を妨害する行為</li>
              <li>不正アクセスまたはこれを試みる行為</li>
              <li>他のユーザーまたは第三者に不利益・損害を与える行為</li>
            </ul>
        </div>

        <div class="mb-4">
          <h4>第3条（本サービスの提供の停止）</h4>
          <p>
            運営者は、必要と判断した場合には、ユーザーに事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができます。
          </p>    
        </div>

        <div class="mb-4">
          <h4>第4条（免責事項）</h4>
          <p>
            運営者は、本サービスに関してユーザーに生じた損害について、一切の責任を負いません。
          </p>    
        </div>
        
        <div class="mb-4">
          <h4>第5条（利用規約の変更）</h4>
          <p>
            運営者は、必要と判断した場合には、本規約を変更することができます。<br>
            変更後の規約は、本サービス上に表示した時点で効力を生じるものとします。
          </p>    
        </div>
        
        <div class="mb-4">
          <h4>第6条（準拠法）</h4>
          <p>
            本規約の解釈にあたっては、日本法を準拠法とします。
          </p>    
        </div>
      </div>
    </div>
  </div>
</div>