<div>
  <%= link_to share_twitter_url(
              url: route_url(@route),
              text: "#{@route.station.name}の#{@route.exit.name}出口への行き方を発見！"
              ),
              target: "_blank",
              rel: "noopener noreferrer",
              class: "btn d-flex justify-content-center bg-black" do %>
    <i class="fa-brands fa-x-twitter me-1 text-white"></i>
  <% end %>
</div>