<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <h2 class="text-center mb-5">
        <i class="fas fa-user me-2"></i>
        <%= t('routes.new.title') %>
      </h2>
      <%= render 'shared/error_messages', resource: @route %>
      <div data-controller="gate-filter"
          data-gate-filter-gates-by-company-value="<%= @gates_by_company %>">
        <%= render 'form', route: @route %>
      </div>
    </div>
  </div>
</div>