@import "bootstrap/scss/bootstrap";

.custom-content {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #004f8e !important;
}

.navbar *,
.navbar a,
.navbar .navbar-brand,
.navbar span {
  color: #fff !important;
}

.navbar a:hover {
  color: #e0e0e0 !important;
}

.routes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
